div.my-footer-logo {
    position: absolute;
    right: 1%;
    bottom: 0px;
}

div.my-footer-text {
    bottom: 12px;
    opacity: .5;
    position: absolute;
    left: 5%;
    font-size: 15px;
}

.remark-slide-number {
    bottom: 12px;
    opacity: .5;
    position: absolute;
    left: 50%;
    font-size: 15px;
}

.footnote {
    position: absolute;
    bottom: 50px;
    color: dimgrey;
    font-size: 17px;
}

.red {
    color: #f44336;
}

.yellow {
    color: #ffc107;
}

.green {
    color: #4caf50;
}

.blue {
    color: #2196f3;
}

h1,h2,h3,h4 {
    color: #004a99;
}

.pull-left {
    float: left;
    width: 47%;
}


.pull-left-large {
    /* this does not break compatibility with .pull-right */
    float: left;
    margin-left: -3em;
    width: 60%;
}

.pull-right {
    float: right;
    width: 47%;
}

.small {
    font-size:small;
}

blockquote {
    background-color: #f3f3f3;
    padding: 0.5rem 1rem;
    margin-left: 10px;   
}

th, td {
    padding-left: 10px;
    padding-right: 10px;
    white-space:pre-wrap;
    word-wrap: break-word;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.middle {
    vertical-align: middle;
}

code {
	font-family: "Andale Mono", "DejaVu Sans Mono", monospace;
}

code div.remark-code-line {
	font-family: "Andale Mono", "DejaVu Sans Mono", monospace;
}
