<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Introduction to Single Cell</title>
        <style>
            {{{style}}}
        </style>
    </head>
    <body>
        <textarea id="source">
layout: true

<div class="my-footer-logo"><img src="../img/galaxy-eu-logo.small.png" alt="UniFreiburg logo" /></div>
<div class="my-footer-text"><i>Galaxy Training Network</i></div>

---
{{{content}}}
        </textarea>
        {{{remarkSource}}}
        <script>
            remark.macros.scale = function (percentage) {
              var url = this;
              return '<img src="' + url + '" style="width: ' + percentage + '" />';
            };
            var slideshow = remark.create();
        </script>
        <script>{{{script}}}</script>
        <script type="text/x-mathjax-config">
          MathJax.Hub.Config({
            tex2jax: {
              inlineMath: [ ['$','$'], ["\\(","\\)"] ],
              processEscapes: true
            }
          });
        </script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <script type="text/javascript" src="../external/js/mermaid.min.js"></script>
        <link rel="stylesheet" href="../external/css/mermaid.css">
        <link rel="stylesheet" href="../external/css/font-awesome.css">
        <script>mermaid.initialize({startOnLoad:true});</script>
    </body>
</html>
